@import url("https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible:400,400italic");
* {
  text-decoration: none;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  color: #ededed;
  line-height: 5px;
}
h1 {
  font-size: 50px;
  text-align: center;
}
h2 {
  font-size: 40px;
  text-align: center;
}
p {
  font-size: 25px;
  text-align: left;
}
body {
  background-color: #353535;
}
a {
  margin: 15px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-flex;
  width: 400px;
  height: 65px;
  vertical-align: middle;
  padding: 0 0;
  font-size: 50px;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  border-radius: 50px;
  background-color: #202020;
  direction: var(--site-language-direction);
  transition: transform 0.125s ease, color 0.125s ease,
    background-color 0.125s ease, border-color 0.125s ease;
}
a:hover {
  transform: scale(1.025);
}
.columns {
  columns: 3 400px;
}
.inner {
  text-align: center;
}
.furuya {
  background-color: #38b24d;
}
.aoyama {
  background-color: #47bce9;
}
.natsuiro {
  background-color: #fd7e15;
}
.usui {
  background-color: #4363ec;
}
.uchiyama {
  background-color: #e03030;
}
.kaneko {
  background-color: #9b37b5;
}
.ogawa {
  background-color: #3ed1c2;
}
.hikami {
  background-color: #fcc31a;
}
.umemoto {
  background-color: #9decc5;
}
.spoiler {
  background-color: #252525;
  color: #252525;
}
.spoiler:hover {
  background-color: #303030;
  color: #ededed;
}
.buttonsdiv {
  width: 415px;
}
