@import url("https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible:400,400italic");
html {
	text-decoration: none;
	font-family: "Atkinson Hyperlegible", sans-serif;
	font-weight: 400;
	font-size: 2.5vw;
	color: #ededed;
	line-height: 100%;
	text-align: center;
	max-width: 1500px;
	margin: auto;
	background-color: #000000;
}
h1 {
	font-size: 170%;
	text-align: center;
}
h2 {
	font-size: 140%;
	text-align: center;
}
p {
	text-align: left;
}
body {
	background-color: #353535;
	margin: 0;
	padding: 2.3%;
	text-align: center;
}
a {
	margin: 2.5%;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	display: inline-flex;
	height: 65px;
	vertical-align: middle;
	padding: 0 0;
	font-family: "Atkinson Hyperlegible", sans-serif;
	font-weight: 400;
	border-radius: 25px;
	background-color: #202020;
	direction: var(--site-language-direction);
	transition: transform 0.125s ease, color 0.125s ease,
	background-color 0.125s ease, border-color 0.125s ease;
}
a:hover {
	transform: scale(1.025);
}
a:link {
	text-decoration: none;
	color: #ededed;
	font-weight: 400;
}
a:visited {
	color: #ededed;
}
.columns {
	columns: 3;
	display: inline-block;
	padding: 0;
	margin: 0;
}
.inner {
	text-align: center;
	display: inline-block;
	width: 100%;
}
.furuya {
	background-color: #38b24d;
	width: 100%;
}
.aoyama {
	background-color: #47bce9;
	width: 100%;
}
.natsuiro {
	background-color: #fd7e15;
	width: 100%;
}
.usui {
	background-color: #4363ec;
	width: 100%;
}
.uchiyama {
	background-color: #e03030;
	width: 100%;
}
.kaneko {
	background-color: #9b37b5;
	width: 100%;
}
.ogawa {
	background-color: #3ed1c2;
	width: 100%;
}
.hikami {
	background-color: #fcc31a;
	width: 100%;
}
.umemoto {
	background-color: #9decc5;
	width: 100%;
}
.spoiler {
	background-color: #252525;
	color: #252525;
}
.spoiler:hover {
	background-color: #303030;
	color: #ededed;
}
